<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
</head>
<body>
	<!-- Pháº§n header -->
	<header>
			<div class="header-top">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-6 col-6 header-top-left no-padding">
							<ul>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-instagram"></i></a></li>
								<li><a href="#"><i class="fa fa-youtube"></i></a></li>
							</ul>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-6 header-top-right no-padding">
							<ul>
								<li><a href="tel:+033 697 08 95"><span class="lnr lnr-phone-handset"></span><span>+033 697 08 95</span></a></li>
								<li><a href="mailto:thiennguyen.it.ute@gmail.com"><span class="lnr lnr-envelope"></span><span>thiennguyen.it.ute@.com</span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="logo-wrap">
				<div class="container">
					<div class="row justify-content-between align-items-center">
						<div class="col-lg-4 col-md-4 col-sm-12 logo-left no-padding">
							<a th:href="@{/}">
								<img class="img-fluid" src="../static/img/VnExpress_logo.png" th:src="@{/img/VnExpress_logo.png}" alt="">
							</a>
						</div>
						<div class="col-lg-8 col-md-4 col-sm-12 logo-right no-padding ads-banner">
							<img class="img-fluid" src="../static/img/quangcao.jpg" th:src="@{/img/quangcao.jpg}" alt="" />
						</div>
					</div>
				</div>
			</div>
			<div class="container main-menu" id="main-menu">
				<div class="row align-items-center justify-content-between">
					
					
						<nav id="nav-menu-container">
							
							<ul class="nav-menu" >
								<li><a href="#"></a></li>		
							</ul>
						</nav><!-- #nav-menu-container -->
					
					<div class="navbar-right">
						<h4 style="color:white;"><span>Nhà báo: </span><span th:text="${session.user.fullname}"></span></h4>
					</div>
					<form th:action="@{/home/logout}" method="GET">
							
						<input style="margin-right:10px;"  type="submit" class="btn btn-primary" value="Đăng Xuất"/>
						
					</form>
				</div>
			</div>
		</header>
	<!-- End header -->

	<div style="margin: 0 auto; width: 75%;">
		<div style="margin: 0 auto; width: 70%;">
			<div class="form-group">
				<div class="card-header" style="text-align: center; color: green;">EDIT
					A NEWS</div>
			</div>
			<form action="#" th:action="@{/news/update}" th:object="${news}"
				method="post" novalidate="novalidate">
				<input type="hidden" th:field="*{id}" />
				<div class="form-group">
					<label for="">Title News:</label> <input type="text"
						class="form-control" th:field="*{name}" name="name"
						placeholder="Title news">
				</div>

				<div class="form-group">
					<label for="">Post Day:</label> <input type="date" name="postday"
						th:field="*{postday}" class="form-control">
				</div>



				<div class="form-group">
					<label for="">Content News:</label>
					<textarea class="form-control" name="content" th:text="${content}"
						rows="3" id="message-text" placeholder="Content news"></textarea>
				</div>

				<div class="form-group">
					<label for="">Category News:</label> <select name="categoryNews"
						th:field="*{categoryNews}" class="form-control">
						<option th:each="ca,iterStat : ${lstcatenews}" th:value="${ca.id}"
							th:text="${ca.name}">TP.HCM</option>
					</select>
				</div>

				<div class="form-group form-check">
					<input type="checkbox" class="form-check-input" id="Agree">
					<label class="form-check-label" for="exampleCheck1">Xác
						nhận sửa tin tức</label>
				</div>
				<div class="form-group" style="text-align: center;">
					<button type="submit" disabled="disabled" id="btnCreate"
						class="btn btn-success">Save</button>
				</div>
			</form>

		</div>
	</div>


	<footer th:replace="layout :: footer"></footer>
	<script>
    $(function () {
        $("#Agree").click(function () {
            if (this.checked)
                $("#btnCreate").removeAttr("disabled");
            else
                $("#btnCreate").attr("disabled", "disabled")
        })
    });
</script>
</body>
</html>